SUPABASE_URL=https://xxxxx.supabase.co
SUPABASE_SERVICE_KEY=eyJ...

EMBEDDING_MODEL_NAME=intfloat/multilingual-e5-small

UMBRAL_ALTO=0.90
UMBRAL_BAJO=0.75

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash-lite

VERSION_BIBLIA=RVR
